@import "tailwindcss";

:root {

}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dark-bg: #1a1a1a;
  --color-dark-bg-hover: #171717;
  --font-menu-item: "Montserrat", "Inter", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
}

body {
  background-image: url('/bg2.png');
  background-size: contain;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Only apply to devices with a mouse (PC users) */
@media (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  ::-webkit-scrollbar-thumb {
    background: #323232;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }

  /* Firefox */
  * {
    scrollbar-color: #323232 #1a1a1a;
  }
}
